<nav>
    <a href="/"><button>Home</button></a>

    <a href="/productos"><button>Productos</button></a>

    <a href="/carrito"><button>Mi Carrito</button></a>

    <a href="/perfil"><button>Mi perfil</button></a>

    <a href="/info"><button>Info</button></a>
</nav>